{% extends 'layout.html.twig' %}
{% block title %}
    Auto giełda :{% for imie in entities %}{{ imie.mark }} {{ imie.model }}{% endfor %}
{% endblock %}
{% block contents %}      
    {{ include('AppBundle:Show:view/carsinfo.html.twig') }}   
    <div class="col-sm-8">
        {{ include('AppBundle:Show:view/image.html.twig') }}   
        {{ include('AppBundle:Show:view/description.html.twig') }} 
        {{ include('AppBundle:Show:view/userinfo.html.twig') }}
    </div>
{% endblock %}
